main.paper {
  header .title h1 {
    // You might want to change the font size if you have a long or a short name
    //font-size: 4rem;

    // You may disable all capitals name with this.
    //text-transform: none;
  }

  .section-experience p {
    // If you have a lot of experiences, you can lower the line height
    // to fit more text on a single page.
    //line-height: 1.5;
  }
}

.job_title {
  // font-style: italic;
}

@media print {
  a {
    // use if you want to print the url
    &:not(.non-existing)::after {
      content: " (" attr(href) ")";
      margin: 0;
      font-weight: 400;
      font-size: 0.75rem;
      color: scale-color($text-color, $lightness: 30%);
    }

    .item-title & {
      &::after {
        content: attr(href);
        display: block;
        margin: 0;
      }
    }

    .section-publications & {
      &::after {
        content: attr(href);
        display: block;
        margin: 0 0.75rem;
      }
    }
  }
}