$font-1: 'PT Sans', 'IBM Plex Sans', 'Arial', sans-serif;
$border-color: #bfbfbf;
$text-color: #202020;
$toprak: #b56b00;
$turk: #E30A17;

@import "base";
@import "redundant";
@import "layout";
@import "section";
@import "footer";
@import "print";
