{{ $isOnSide := false }}
{{ range .Params.side }}
{{ if eq .feature "education" }}
	{{ $isOnSide = true }}
{{ end }}
{{ end }}

{{ range .Data.education }}
<div class="item">

	{{- if and $.Params.education.location.show .location -}}
	{{ if $isOnSide }}
	<h2 class="item-title">{{ .university }}</h2>
	<span>{{ .location }}</span><br>
	{{- else -}}
	<div class="flex-row">
		<h2 class="item-title">{{ .university }}</h2>
		<span class="soft-color">{{ .location }}</span>
	</div>	
	{{- end -}}
	{{- else -}}
	<h2 class="item-title">{{ .university }}</h2>

	{{- end -}}
	
	<span>{{ .name }}</span><br>
	
	{{ $useFontAwesome := $.Params.education.useFontAwesome | default $.Params.useFontAwesome }}
	{{ $noExternalIcon := not ($.Params.education.externalLinkIcon | default $.Params.externalLinkIcon) }}

	<span>{{ .date }}{{ if .gpa }} | GPA: {{ .gpa }}{{ end }}</span>
	{{- if .more -}}
		{{- if .link -}}
			{{- if $useFontAwesome -}}
			<br><span><a class="no-external-icon" href="{{ .link }}">{{ .more }}</a></span>
			<i class="fas fa-link"></i><br>
			{{- else -}}
			<span><a class="{{ if $noExternalIcon }}no-external-icon{{ end }}" href="{{ .link }}">{{ .more }}</a></span><br>
			{{- end -}}
		{{- else -}}
		<span>{{ .more }}</span>
		{{- end -}}
	{{- end -}}
	
	{{ if .details }}
		{{- partial "markdown" .details }}
	{{ end }}
</div>
{{ end }}
